{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
{% if role==1 %}
<p><strong>User Details
    <button type="button" class="btn btn-primary pull-right add_data" data-bs-toggle="modal" data-bs-target="#add_data_Modal">
        <i class="fas fa-plus"></i>&nbsp;&nbsp;Add New
      </button>
</strong>  </p>
<section class="">

<div class="row">
    <div class="col-md-12">
        <div class="table-wrap">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID no.</th>
                    <th>User Name</th>
                    <th>Email address</th>
                    <th>Role</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts%}
                <tr class="alert" role="alert">
                    <th scope="row" >{{account['id']}}</th>
                    <td>{{account['username']}}</td>
                    <td>{{account['email']}}</td>
                    <td>
                        {% if account['role'] == 1%}
                        <span class="badge rounded-pill bg-primary">Administrator</span>
                        {% else%}
                        <span class="badge rounded-pill bg-warning text-dark">User</span>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm view_data" id="{{account['id']}}" data-bs-toggle="modal" data-bs-target="#edit_data_Modal">
                            <i class="fas fa-edit"></i>&nbsp;&nbsp;Edit
                            </button>
                    
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm del_data" data-bs-toggle="modal"  id="{{account['id']}}" data-bs-target="#del_confirm"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete</button>
                    </td>
                    
                </tr>
                
                {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>


{% endif %}
{% endblock %}